INDEX OF LISTS

THERE ARE 2 TYPES :

POSITIVE INDEX

NEGATIVE INDEX

positive index

A positive index is a numerical value that is used to access elements in a sequence

the index 0 refers to the first element in the container, 1 refers to the second element, and so on

In python positive index starts from left to right

In [ ]:


# positive index

#A positive index is a numerical value that is used to access elements in a sequence

#the index 0 refers to the first element in the container, 1 refers to the second element, and so on

#In python positive index starts from left to right

areas = ["Manikonda","kismatpur","gachibowli","madhapur","jubliee hills"]
             #0          1           2           3            4
areas[2]= "banjara hills"
areas[3]= "financial district"
print(areas)

['Manikonda', 'kismatpur', 'banjara hills', 'financial district', 'jubliee hills']

In [ ]:
restaurants = ["shah ghouse", "pista house", "telangana spice", "cloud dining", "plaform 65"]
restaurants[1] = "jewel of nizam"
restaurants[3] = "the water front"
print(restaurants)

['shah ghouse', 'jewel of nizam', 'telangana spice', 'the water front', 'plaform 65']

In [ ]:
cars = ["mercedes","mini cooper","lexus","range rover"]
cars[1]= "lexus"
cars[2]= "mini cooper"
print(cars)

['mercedes', 'lexus', 'mini cooper', 'range rover']

In [ ]:
courses= ["salesforce","artificial intelligence","data science","data analyst","power bi"]
courses[1]= "salesforce"
courses[4]= "azure"
print(courses)

['salesforce', 'salesforce', 'data science', 'data analyst', 'azure']

In [ ]:
numbers = [7,90,30,45,60]
numbers[2] = 9
numbers[4] = 24
print(numbers)

[7, 90, 9, 45, 24]

In [ ]:
# negative index

# that allows you to access elements in a container starting from the end of the container, using negative integers as index values

# the index -1 refers to the last element in the container, -2 refers to the second last element, and so on

# python negative index starts from right to left

numbers = [-1,-2,-3,-4,-5]
numbers[-4] = -9
numbers[-1] = -24
print(numbers)

[-1, -9, -3, -4, -24]

In [ ]:
jobs = ["software", "marketing","teaching","doctor","lawyer"]
jobs[-2] = "business"
jobs[-4] = "cyber police"
print(jobs)

['software', 'cyber police', 'teaching', 'business', 'lawyer']

In [ ]:
#slicing list

#list by using indexing with a colon : to access a specific range of elements in the list

datatypes = ["list","tuple","string","dictionary","set"]
print(datatypes[0:3])

print(datatypes[1:4])

print(datatypes [2:])

print(datatypes[:3])

['list', 'tuple', 'string']
['tuple', 'string', 'dictionary']
['string', 'dictionary', 'set']
['list', 'tuple', 'string']

##LIST OPERATORS

THERE ARE 2 TYPES

CONCATATION

REPITATION

In [28]:
#CONCATATION
places = ["mussoorie","chennai","nashik","kerala","gokarna","ooty"]
names = ["hemu","nihith","raga","ritu","deekshi","rishi","ruttu"]
cafes = ["anthera","zero 40","prism","airlive","glass onion","fat pigeon","lal street","skyhy"]

print(places+names)
print(places+names+cafes)
print(names[0:4]+cafes[2:4])
print(places[1:3]+cafes)
print(names[0:7],places[:3],cafes[:])

#REPITITION

print(places*2)
print(names[0:6]*3)
print(places*1,cafes[1:6],names*2)

['mussoorie', 'chennai', 'nashik', 'kerala', 'gokarna', 'ooty', 'hemu', 'nihith', 'raga', 'ritu', 'deekshi', 'rishi', 'ruttu']
['mussoorie', 'chennai', 'nashik', 'kerala', 'gokarna', 'ooty', 'hemu', 'nihith', 'raga', 'ritu', 'deekshi', 'rishi', 'ruttu', 'anthera', 'zero 40', 'prism', 'airlive', 'glass onion', 'fat pigeon', 'lal street', 'skyhy']
['hemu', 'nihith', 'raga', 'ritu', 'prism', 'airlive']
['chennai', 'nashik', 'anthera', 'zero 40', 'prism', 'airlive', 'glass onion', 'fat pigeon', 'lal street', 'skyhy']
['hemu', 'nihith', 'raga', 'ritu', 'deekshi', 'rishi', 'ruttu'] ['mussoorie', 'chennai', 'nashik'] ['anthera', 'zero 40', 'prism', 'airlive', 'glass onion', 'fat pigeon', 'lal street', 'skyhy']
['mussoorie', 'chennai', 'nashik', 'kerala', 'gokarna', 'ooty', 'mussoorie', 'chennai', 'nashik', 'kerala', 'gokarna', 'ooty']
['hemu', 'nihith', 'raga', 'ritu', 'deekshi', 'rishi', 'hemu', 'nihith', 'raga', 'ritu', 'deekshi', 'rishi', 'hemu', 'nihith', 'raga', 'ritu', 'deekshi', 'rishi']
['mussoorie', 'chennai', 'nashik', 'kerala', 'gokarna', 'ooty'] ['zero 40', 'prism', 'airlive', 'glass onion', 'fat pigeon'] ['hemu', 'nihith', 'raga', 'ritu', 'deekshi', 'rishi', 'ruttu', 'hemu', 'nihith', 'raga', 'ritu', 'deekshi', 'rishi', 'ruttu']

## LIST METHODS

In [ ]:
#APPEND

numbers = [34,45,67,97,9]
fruits = ["water melon","litchi","mango"]
animals = ["lion","tiger","cheetah"]
cars = ["Lamborghini","mini cooper","mercedes","lexus"]
business = ["food","realestate","education"]

numbers.append(24)
fruits.append(2)
animals.append(3)
cars.append(4)
business.append("moneyminded")

print(numbers)
print(fruits)
print(animals)
print(cars)
print(business)

[34, 45, 67, 97, 9, 24]
['water melon', 'litchi', 'mango', 2]
['lion', 'tiger', 'cheetah', 3]
['Lamborghini', 'mini cooper', 'mercedes', 'lexus', 4]
['food', 'realestate', 'education', 'moneyminded']

In [ ]:
# EXTEND

numbers = [34,45,67,97,9]
fruits = ["water melon","litchi","mango"]
animals = ["lion","tiger","cheetah"]
cars = ["Lamborghini","mini cooper","mercedes","lexus"]
business = ["food","realestate","education"]

numbers.extend(fruits)
fruits.extend(numbers)
animals.extend(cars)
cars.extend(business)
business.extend(animals)

print(numbers)
print(fruits)
print(animals)
print(cars)
print(business)

[34, 45, 67, 97, 9, 'water melon', 'litchi', 'mango']
['water melon', 'litchi', 'mango', 34, 45, 67, 97, 9, 'water melon', 'litchi', 'mango']
['lion', 'tiger', 'cheetah', 'Lamborghini', 'mini cooper', 'mercedes', 'lexus']
['Lamborghini', 'mini cooper', 'mercedes', 'lexus', 'food', 'realestate', 'education']
['food', 'realestate', 'education', 'lion', 'tiger', 'cheetah', 'Lamborghini', 'mini cooper', 'mercedes', 'lexus']

In [ ]:
# INSERT

numbers = [69,34,45,67,97,9]
fruits = ["water melon","litchi","mango","grapes","dragon fruit","green apple"]
animals = ["lion","tiger","cheetah","leopord"]
cars = ["Lamborghini","mini cooper","mercedes","lexus","bmw","audi"]
business = ["food","realestate","education","transporting","clothing","appliances"]

numbers.insert(0,24)
fruits.insert(5,"papaya")
animals.insert(3,"fox")
cars.insert(4,"toyota")
business.insert(3,"exporting&importing")

print(numbers)
print(fruits)
print(animals)
print(cars)
print(business)

[24, 69, 34, 45, 67, 97, 9]
['water melon', 'litchi', 'mango', 'grapes', 'dragon fruit', 'papaya', 'green apple']
['lion', 'tiger', 'cheetah', 'fox', 'leopord']
['Lamborghini', 'mini cooper', 'mercedes', 'lexus', 'toyota', 'bmw', 'audi']
['food', 'realestate', 'education', 'exporting&importing', 'transporting', 'clothing', 'appliances']

In [ ]:
#REMOVE

numbers = [69,34,45,67,97,9]
fruits = ["water melon","litchi","mango","grapes","dragon fruit","green apple"]
animals = ["lion","tiger","cheetah","leopord"]
cars = ["Lamborghini","mini cooper","mercedes","lexus","bmw","audi"]
business = ["food","realestate","education","transporting","clothing","appliances"]

numbers.remove(69)
fruits.remove("green apple")
animals.remove("cheetah")
cars.remove("bmw")
business.remove("clothing")


print(numbers)
print(fruits)
print(animals)
print(cars)
print(business)

[34, 45, 67, 97, 9]
['water melon', 'litchi', 'mango', 'grapes', 'dragon fruit']
['lion', 'tiger', 'leopord']
['Lamborghini', 'mini cooper', 'mercedes', 'lexus', 'audi']
['food', 'realestate', 'education', 'transporting', 'appliances']

In [ ]:
#POP

numbers = [69,34,45,67,97,9]
fruits = ["water melon","litchi","mango","grapes","dragon fruit"]
animals = ["lion","tiger","cheetah","leopord"]
cars = ["Lamborghini","mini cooper","mercedes","lexus","audi"]
business = ["food","realestate","education","transporting","appliances"]

numbers.pop(3)
fruits.pop(-4)
animals.pop(2)
cars.pop(-5)
business.pop(4)

print(numbers)
print(fruits)
print(animals)
print(cars)
print(business)

[69, 34, 45, 97, 9]
['water melon', 'mango', 'grapes', 'dragon fruit']
['lion', 'tiger', 'leopord']
['mini cooper', 'mercedes', 'lexus', 'audi']
['food', 'realestate', 'education', 'transporting']

In [ ]:
#INDEX

#IT TELLS US ABOUT THE EXACT INDEX VALUE OF THE VARIABLE

numbers = [69,34,45,67,97,9]
fruits = ["water melon","litchi","mango","grapes","dragon fruit"]
animals = ["lion","tiger","cheetah","leopord"]
cars = ["Lamborghini","mini cooper","mercedes","lexus","audi"]
business = ["food","realestate","education","transporting","appliances"]

d1=numbers.index(9)
d2=fruits.index("mango")
d3=animals.index("leopord")
d4=cars.index("lexus")
d5=business.index("transporting")

print(d1)
print(d2)
print(d3)
print(d4)
print(d5)

5
2
3
3
3

In [23]:
#COUNT

#it count's how many times the variable repeats

numbers = [69,34,45,67,97,9]
fruits = ["mango","litchi","mango","grapes","mango"]
animals = ["lion","hiena","cheetah","tiger"]
cars = ["Lamborghini","mini cooper","mercedes","lexus","audi","lexus"]

d1=numbers.count(9)
d2=fruits.count("mango")
d3=animals.count("hiena")
d4=cars.count("lexus")


print(d1)
print(d2)
print(d3)
print(d4)

1
3
1
2

In [25]:
#SORT

#it rearranges the output into ascending order either numbers or alphabets

numbers =[20,21,45,99]
strings=["strawberies","passion","guava","watermelon"]
float=[9.2,24,2.1,17]
characters= ["D","R","N","H","V","S"]
names = ["hemu","nihith","pavan","rishi","shiva"]

numbers.sort()
strings.sort()
float.sort()
characters.sort()
names.sort()

print(numbers)
print(strings)
print(float)
print(characters)
print(names)

[20, 21, 45, 99]
['guava', 'passion', 'strawberies', 'watermelon']
[2.1, 9.2, 17, 24]
['D', 'H', 'N', 'R', 'S', 'V']
['hemu', 'nihith', 'pavan', 'rishi', 'shiva']

In [26]:
characters = ["h","n","r","d","v","s"]
names = ["hemu","nihith","raga","ritu","deekshi","rishi","ruttu"]
numbers =[20,21,45,99]
strings=["strawberies","passion","guava","watermelon"]
float=[9.2,24,2.1,17]

characters.reverse()
names.reverse()
numbers.reverse()
strings.reverse()
float.reverse()

print(characters)
print(names)
print(numbers)
print(strings)
print(float)

['s', 'v', 'd', 'r', 'n', 'h']
['ruttu', 'rishi', 'deekshi', 'ritu', 'raga', 'nihith', 'hemu']
[99, 45, 21, 20]
['watermelon', 'guava', 'passion', 'strawberies']
[17, 2.1, 24, 9.2]