In [ ]:
# mutiple variables are of 2 types 1 into many or multi variables with multi values

In [1]:
# multiple variable & multiple values
x,y,z = "rishi","hemu","nihith"
print(x)
print(y)
print(z)

rishi
hemu
nihith

In [2]:
# multiple variables using alphabets and  numbers
a,b,c = "993","300",'400'
print(a)
print(b)
print(c)

993
300
400

In [3]:
# multiple variables
farmhouse, families, outing = "celebrated","holi","with family"
print(farmhouse)
print(families)
print(outing)

celebrated
holi
with family

In [6]:
# mutiple variables
sunburn, alanewalker, hyderabad = "alanewalker", "event", "in hyderabad"
print(sunburn)
print(alanewalker)
print(hyderabad)

alanewalker
event
in hyderabad

In [8]:

# multiple variables
temperature , sun , heat = "summer", "has", "started"
print(temperature)
print(sun)
print(heat)

summer
has
started