In [1]:
# a valid variable
Jaswanth = 911
print(Jaswanth)

911

In [3]:
# variable using alpha numeric characters
Travelling24 = "i love exploring new places"
print(Travelling24)

i love exploring new places

In [4]:
# variable using with underscore
_Devin = "it is an AI powered chatbot"
print(_Devin)

it is an AI powered chatbot

In [17]:
# variable using without underscore
football= "barcelona is the best football team"
print(football)

barcelona is the best football team

In [25]:
# variable using only alphabets
college = "my college having the best infra structure"
print(college)

my college having the best infra structure

In [29]:
# variable using underscore,numerical values
Favourite_hero10 = "mahesh babu"
print(Favourite_hero10)

mahesh babu

In [30]:
# variable using underscore,alphabets
_Rcb = "lost the match yesterday"
Csk10 = "won the match"
print(_Rcb,Csk10)

lost the match yesterday won the match

In [37]:
# variable using numericals,alphabets,underscore
Nihith1 = "lets plan for goa"
Rishi = "lets plan for manali"
Hemanth_3 = "what to decide"
print(Nihith1,Rishi,Hemanth_3)

lets plan for goa lets plan for manali what to decide

In [39]:
# variables using numbers
birth24 = 72002
print(birth24)

72002

In [42]:
# variables using underscore
bhargav_ = "always late to class"
print(bhargav_)

always late to class